* {
  margin: 0.5rem;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgb(214, 140, 44) 98%
  );
  background-attachment: fixed;
}

h1 {
  margin: 3rem 0;
  font-size: 3.5rem;
}
h3 {
  margin-bottom: 1.5rem;
  font-size: xx-large;
}

.container {
  border: 1px solid;
  width: 60%;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
}

label {
  margin: auto;
  display: block;
  text-align: center;
  font-size: x-large;
}
input {
  display: block;
  border: 2px solid black;
  height: 2.5rem;
  width: 60%;
  margin: 1rem auto 2rem auto;
  border-radius: 0.5rem;
  font-size: x-large;
}
input::placeholder {
  font-size: 1rem;
  padding-left: 1rem;
}
button {
  width: 35%;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: x-large;
}
button:hover {
  background-color: #5c5aef;
  cursor: pointer;
}

#output-msg,
#invalid-value {
  /* border: 1px solid; */
  width: 60%;
  margin: 2rem auto 7rem;
  border-radius: 1rem;
  padding: 1rem;
  font-size: xx-large;
}

footer {
  position: relative;
  /* bottom: 0; */
}

.social-links {
  /* border: 1px solid;
  border-radius: 1rem; */
  width: 60%;
  margin: auto;
  padding: 1rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacy-notice {
  border: 1px solid;
  border-radius: 0.5rem;
  display: inline-block;
  width: 60%;
}

a i {
  transition: all 0.2s linear;
  padding: 1rem;
}
a:hover i {
  transform: scale(2);
}

.fa-github:hover {
  color: black;
}
.fa-linkedin:hover {
  color: #001fe6;
}
.fa-twitter:hover {
  color: #0097e6;
}
.fa-instagram:hover {
  color: #e84393;
}
